@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root {
  /* Colors */
  --color-foreground: #222;
  --color-background: #fff;
  --color-foreground-faded: #888;
  --color-background-faded: #fefefe;
  --color-theme-darker: #ffbbcc;
  --color-theme-dark: #ffcccc;
  --color-theme-light: #ffddcc;
  --color-theme-lighter: #ffeecc;
  --space1: 1px;
  --space2: calc( var(--space1) * 1.6 );
  --space3: calc( var(--space2) * 1.6 );
  --space4: calc( var(--space3) * 1.6 );
  --space5: calc( var(--space4) * 1.6 );
  --space6: calc( var(--space5) * 1.6 );
  --space7: calc( var(--space6) * 1.6 );
  --space8: calc( var(--space7) * 1.6 );
  --space9: calc( var(--space8) * 1.6 );
  --space10: calc( var(--space9) * 1.6 );
  --space11: calc( var(--space10) * 1.6 );
  --space12: calc( var(--space11) * 1.6 );
  --space13: calc( var(--space12) * 1.6 );
  --space14: calc( var(--space13) * 1.6 );
  --space15: calc( var(--space14) * 1.6 );
  --space16: calc( var(--space15) * 1.6 );
  --space17: calc( var(--space16) * 1.6 );
  --space18: calc( var(--space17) * 1.6 );
  --space19: calc( var(--space18) * 1.6 );
  --space20: calc( var(--space19) * 1.6 );
  --menu-width:  var(--space12) ;
  --float1: var(--space2) var(--space2) var(--space4);
  --icon-plus: '✚';
  --icon-cancel: '✖';
  --icon-edit: '✎';
  --icon-cat: '🐱';
  --icon-warn: '⚠';
  --icon-play: '▶';
  --icon-check: '✔';
  --icon-delete: '⊘';
  --icon-favourite: '☆';
  --icon-favourite-filled: '★';
  --icon-phone: '☎';
  --icon-flag: '⚐';
  --icon-flag-filled: '⚑';
     
}



/* Typography */
body {
  font-family: "Quicksand", sans-serif;
  background: var(--color-background);
  color: var(--color-foreground);
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: var(--space12) 1fr;
  grid-template-areas:  "header header "
                        "sidebar main "
                        "footer footer ";
}

/* Grid */
body > header { grid-area: header; }
#sidebar { grid-area: sidebar;}
#application{ grid-area: main;}


/* Layout */
body > header {
  border-bottom: solid thin var(--color-theme-darker);
  margin-bottom: var(--space3);
}
#application{
  padding: var(--space5);
}

/* Header */
body>header h1 {
  font-weight: normal;
  font-size: 0.9em;
}

/* Sidebar */
#logo img {
  height: 200px;
}
#sidebar {
  padding: var(--space4);
  border-right: solid thin var(--color-theme-darker);
}
#sidebar ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
}
#sidebar ul li a{
  padding: var(--space6);
}
nav ul li a {
  width: 100%; /* menu item completely clickable*/
  display: inline-block;
}
#sidebar nav ul li {
  position: relative;
  background: var(--color-background);
  color: var(--color-foreground);
}
#sidebar nav li ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background: var(--color-background);
  color: var(--color-foreground-faded);
  box-shadow: var(--float1);
}
#sidebar nav ul li:hover>ul {
  display: block;
}

#sidebar nav ul>li:hover {
  color: var(--color-foreground);
  background: var(--color-theme-lighter);
  cursor: pointer;
}

#application>* {
  box-shadow: var(--float1);
  padding: var(--space6);
  margin: var(--space8) var(--space6);
}
#application>*:first-child {
  margin-top: 0;
}

/* UI */
button {
  border: var(--space1) var(--color-theme-dark) solid;
  border-radius: var(--space6);
  padding: var(--space6) var(--space8);
  background: var(--color-theme-lighter);
  color: var(--color-foreground-faded);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s;
}
button:hover {
  box-shadow: var(--space4) var(--space4) var(--space6) var(--color-foreground-faded);
  background: var(--color-theme-darker);
  color: var(--color-foreground);
}

article header,
section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--space2)  solid var(--color-theme-darker);
  background-color: var(--color-theme-light);
  color: var(--color-foreground-faded);
  padding: var(--space2) var(--space6);
}

.action-header {
  position: sticky;
  top: 0;
}

fieldset {
  border-color: var(--color-theme-darker);
  border-style: solid;
  margin: var(--space8) 0;
}
legend {
  background: var(--color-background);
  color: var(--color-foreground-faded);
  font-weight: bold;
  border-radius: var(--space6);
  border: var(--space2) solid var(--color-theme-darker);
  padding: var(--space4) var(--space6);
}

label {
  min-width: var(--space11);
  display: inline-block;
  white-space: nowrap;
}
label input {
  margin-right: 2ch;
}

.field {
  margin: var(--space6) 0;
}
/* Input Typography */
input, textarea, select {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
}
input, textarea, select {
  padding: var(--space6);
  border: var(--color-theme-dark) solid thin;
  border-radius: var(--space6);
}
input[type=text], input[type=email] {
  min-width: var(--space14);
}
textarea {
  width: calc(100% - calc(2*var(--space6)));
  height: var(--space11);
}
select {
  background: var(--color-theme-lighter);
  border: var(--space1) solid var(--color-theme-darker);
  border-radius: var(--space6);
}

table {
  width: 100%;
  margin: var(--space8) 0;
  border-collapse: collapse;
}

tr, td, th {
  border: var(--color-theme-lighter) solid thin;
}

tr:nth-child(2n+2) {
  background: var(--color-background-faded);
}

th {
  padding: var(--space6) var(--space5);
}

td {
  padding: var(--space5);
}

.add:before{
  content: var(--icon-plus);
}
.cancel:before{
  content: var(--icon-cancel);
}
.edit:before{
  content: var(--icon-edit);
}
.cat:before{
  content: var(--icon-cat);
}
.warn:before{
  content: var(--icon-warn);
}
.play:before{
  content: var(--icon-play);
}
.ok:before{
  content: var(--icon-check);
}
.delete:before {
  content: var(--icon-delete);
}
/**
 * Loading indicator
 */
[data-loading]:after {
  content: "🕜";
  z-index: 1;
  position: absolute;
  font-size: var(--space7);
  padding: var(--space3);
  border: var(--space1) var(--color-theme-dark) solid;
  box-shadow: var(--space4) var(--space4) var(--space6) var(--color-theme-darker);
  animation-duration: 2s;
  animation-name: fadeIn;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-theme-lighter);
  height: var(--space8);
  width: var(--space8);
  border-radius: var(--space8);
  margin-right: 0;
}
[data-loading]:first-child:before {
  content: "🕜";
  position: fixed;
  font-size: var(--space9);
  top: var(--space8);
  right: var(--space8);
  padding: var(--space3);
  border: var(--space1) var(--color-theme-dark) solid;
  box-shadow: var(--space4) var(--space4) var(--space6) var(--color-theme-darker);
  animation-duration: 2s;
  animation-name: fadeIn;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-theme-lighter);
  height: var(--space10);
  width: var(--space10);
  border-radius: var(--space6);
  margin-right: 0;
}
@keyframes fadeIn {
  from {
    margin-right: -100px;
  }
  to {
    margin-right: 0;
  }
}
